#  N. H. Klein: Ch. 15 Simulations

In [1]:
# Imports

import pandas as pd
import numpy as np

# If we want the results to be the same
# every time, set a seed
np.random.seed(42)

In [2]:
fc_choice = ['FC0', 'FC5']
'FC' not in fc_choice

True

In [41]:
data = pd.DataFrame({
    # normal data is by default mean 0, sd 1
    'eps': np.random.normal(size = 200),
    # Uniform data is by default from 0 to 1
    'Y': np.random.uniform(size = 200),
    # We can use binomial to make binary data
    # with unequal probabilities
    'X': np.random.binomial(1, .2, size = 200)
})

In [44]:
data = pd.DataFrame([np.random.normal(size=200),
np.random.uniform(size=200),
np.random.binomial(1, .2, size=200)]).transpose()

In [45]:
data.columns = ['eps', 'Y', 'X']

In [47]:
data.set_axis([f'id_'+str(i).rjust(3, '0') for i in range(200)])

             eps         Y    X
id_000 -0.985804  0.039811  0.0
id_001 -0.284155  0.273988  1.0
id_002  1.194763  0.955649  0.0
id_003  0.894647  0.953633  0.0
id_004 -1.372859  0.352327  0.0
...          ...       ...  ...
id_195  0.420192  0.600583  0.0
id_196 -0.856498  0.166255  0.0
id_197  0.097670  0.379737  0.0
id_198 -1.264498  0.617194  0.0
id_199 -1.793106  0.969819  0.0

[200 rows x 3 columns]

In [ ]:
d = pd.DataFrame({
    # Have W go from 0 to .1
    'W': np.random.uniform(0, .1, size = 200)})

# Higher W makes X = 1 more likely
d['X'] = np.random.uniform(size = 200) < .2 + d['W']

# The true effect of X on Y is 3
d['Y'] = 3*d['X'] + d['W'] + np.random.normal(size = 200)

            W      X         Y
0    0.003840   True  4.271492
1    0.036825  False  0.325553
2    0.097903  False -1.059213
3    0.042074   True  1.708945
4    0.050195   True  1.498682
..        ...    ...       ...
195  0.006409   True  2.777027
196  0.059614   True  2.810998
197  0.073958   True  3.700572
198  0.021097  False  0.066661
199  0.084162  False  0.707569

[200 rows x 3 columns]